<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">

              <div class="brand-logo">
                <img src="../../assets/images/noise_0.png">
                <img src="../../assets/images/logo_0.png">
              </div>
              
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <form class="pt-3" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                  <input class="form-control" type="username" name="username" class="form-control form-control-lg" [(ngModel)]="username" required  placeholder="Username" #UserName="ngModel">
                </div>
                
                <div class="form-group">
                  <input type="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required placeholder="Password">
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
