<div class="content-wrapper">
          <div class="row">
            <!-- filter div starts -->
            <div class="col-md-12 text-center">
              <button class="btn btn-gradient-primary btn-fw" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
              Filter
              </button>
            </div>
            <br>
            <br>
            <div class="col-md-12 text-center collapse" id="collapseFilter">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Filter</h4>
                <form class="form-sample">
                    <div class="row">
                      <div class="col-md-6">
                      <div class="form-group row input-group">
                        <label class="col-md-3 col-form-label">Start date</label>
                          <input class="form-control col-md-9" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="d1.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                        
                      </div>
                      
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row input-group">
                        <label class="col-md-3 col-form-label">End date</label>
                          <input class="form-control col-md-9" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary " (click)="d2.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                      </div>
                      
                     </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row input-group">
                          <label class="col-md-3 col-form-label">Start time</label>
                            <ngb-timepicker [(ngModel)]="startTime" [seconds]="seconds" class="col-md-9" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                        </div>
                      
                     </div>
                     <div class="col-md-6">
                        <div class="form-group row input-group">
                            <label class="col-md-3 col-form-label">End time</label>
                          <ngb-timepicker [(ngModel)]="endTime" [seconds]="seconds" class="col-md-9" [ngModelOptions]="{standalone: true}"></ngb-timepicker>  
                        </div>
                      
                     </div>
                  </div>

                </form>
                <button type="button" (click)="getFilteredSiteData()" class="btn btn-gradient-primary btn-fw">Submit</button>
                
                
              </div>
            </div>
            </div>
            <!-- filter div ends here -->
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <highcharts-chart *ngIf="chartOptions"
                  [Highcharts]="Container1"
                  [options]="chartOptions"

                  style="width: 100%; height: 400px; display: block;"
                ></highcharts-chart>
            </div>
            <div class="col-md-6">
              <highcharts-chart  *ngIf="chartOptions2"
                  [Highcharts]="Container2"
                  [options]="chartOptions2"
                  style="width: 100%; height: 400px; display: block;"
                ></highcharts-chart>
            </div>
         </div>
            <br>
          <div class="row">
            <div class="col-md-6">
              <highcharts-chart  *ngIf="chartOptions3"
                [Highcharts]="Container3"
                [options]="chartOptions3"
                style="width: 100%; height: 400px; display: block;"
              ></highcharts-chart>
            </div>
            <div class="col-md-6">
              <highcharts-chart  *ngIf="chartOptions4"
                [Highcharts]="Container4"
                [options]="chartOptions4"
                style="width: 100%; height: 400px; display: block;"
              ></highcharts-chart>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
                  <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://benchmarkmonitoring.com.au/" target="_blank">Benchmark Monitoring</a>. All rights reserved.</span>
                  </div>
        </footer>
        <!-- partial -->
