<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    
    <app-navtop></app-navtop>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <app-navsidebar></app-navsidebar>
      <!-- partial -->
      <app-dashboard class="main-panel"></app-dashboard>
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->