<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav" *ngIf="siteData">
          <li class="nav-item" *ngFor="let sitegroup of siteData.results">
            <a class="nav-link" data-toggle="collapse" href="#{{sitegroup.name}}" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">{{ sitegroup.name }}</span>
              <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="{{sitegroup.name}}">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"  *ngFor="let site of sitegroup.sites"><a id="{{ site.station_id }}" (click)="selectSite(site.station_id, site.name)" class="nav-link" href="javascript:void(0);">{{ site.name }}</a></li>
              </ul>
            </div>
          </li>
        </ul>
</nav>
